<!DOCTYPE html>
<html ng-app="meeting">
<head>

  <title>Set Up a Meeting</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- css all files  -->
  <link rel="stylesheet" href="css/styles.min.css">

  <!-- include font Roboto from google -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">


  <!-- google api  -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPbTIwcRFCxFIALB4ayDB96lEA6wpJK-U&libraries=places"></script>

  <!-- all js files  -->
  <script src="js/all.min.js"></script>


</head>
<body ng-controller="meetingCtrl">

  <md-content>
    <md-whiteframe class="md-whiteframe-12dp" layout="column">

      <div class="text-center" ng-class="{'md-display-2' : $mdMedia('gt-sm'),'md-display-1': $mdMedia('gt-xs'), 'font-title-xs': $mdMedia('xs')}" layout="row" layout-align-gt-sm="start center" layout-align-gt-xs="center center">Marcador de Reunião Internacional</div>

      <md-divider></md-divider>

      <!--set up date your city and their city -->
      <form name="meetingForm" layout-gt-xs="column" layout-xs="column" layout-gt-sm="row" layout-align="space-between center" layout-fill>

        <!--set up date-->
        <md-input-container flex-gt-sm="25" flex-gt-xs="100" flex-xs="100" layout-align-gt-xs="center center">
          <label>Data da reunião</label>
          <md-datepicker  ng-model="dateMeeting" md-placeholder="Escolha a data" name="dateMeetingForm" md-open-on-focus="true"></md-datepicker>
        </md-input-container>

        <!--set up your city -->
        <md-input-container  flex-gt-sm="35" flex-gt-xs="100" flex-xs="100">
          <label>Sua cidade</label>
          <input  id="yourCity" type="text" name="yourCityForm" placeholder="Digite a localização"/>
        </md-input-container>

        <!--set up  their city -->
        <md-input-container flex-gt-sm="35" flex-gt-xs="100" flex-xs="100">
          <label>Cidade da outra pessoa</label>
          <input  id="theirCity" type="text"  placeholder="Digite a localização"  />
        </md-input-container>
      </form>

      <!--meeting time -->
      <span ng-show="meeting==true" class="md-headline" layout="row" layout-align-gt-xs="center center" layout-align-xs="center center" layout-align-gt-sm="start center">Horário da reunião</span>

      <!--show the cities date and time-->
      <div layout="column" class="meetingInfo" ng-show="meeting==true">
        <div ng-repeat="city in citiesSorted" layout-gt-xs="row" layout-xs="column" layout-align-xs="start start" layout-align-gt-sm="start center" layout-align-gt-xs="center center" >
          <!--show the cities name-->
          <span style="color: #727272" class="md-body-2">{{city.name}}</span>
          <span hide-xs>&nbsp - &nbsp </span>
          <span layout="row" layout-align="start center">
            <!--show the date-->
            <span class="md-body-1"> {{dateMeeting | date: 'dd/MM/yyyy'}}</span>
            <!--show the hour-->
            <span class="md-body-2">{{city.hour}}</span>
          </span>
        </div>
      </div>

      <!--error message-->
      <div layout="column" ng-show="meeting=='timeExceeded'" class="md-subhead time-exceeded ">
       A Reunião não poderá ocorrer pois a diferença de horario entre as cidades ultrapassa o horario comercial
     </div>

    </md-whiteframe>

  </md-content>

</body>

</html>
