html, body{
  background-color: rgb(79, 128, 156);
}

md-content {
  background-color: inherit;
  padding-top: 50px;
}


md-whiteframe {
  background: white;
  width: 896px;
  margin: auto;
  padding: 20px 50px 30px 50px;
}

md-divider {
  width: 100%;
  margin-bottom: 24px;
}

md-whiteframe > * {
  margin-top: 10px;
}

md-whiteframe md-input-container:first-of-type {
  position: relative;
  left: -16px;
}

.meetingInfo  span:last-of-type {
  margin-left: 10px;
}
